# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java3\java3space\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
